<h1>Bienvenue sur la page d'accueil de mon application Rails</h1>
<p>C'est ma première page d'accueil!</p>
  <li><ul> Faire une bannière avec le nom du site et son logo ainsi que le nom de l'utilisateur connecté</ul></li>
  <li><ul> Afficher des catégories sous forme de cartes. Et laisser la possibilité d'en créerr une nouvelle ou d'en supprimer une ou de la modifier seulement si on est connecté</ul></li>
  <li><ul> Quand on clique sur une catégories, on affiche les items liés à cette catégorie </ul></li>
